<div class="row navigation">
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="#">My Cart</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Products<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> {{cartCount}} - Items<span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-cart" role="menu">
                    <li *ngFor="let product of products">
                        <span class="item" *ngIf="product.isInCart">
                          <span class="item-left">
                              <img [src]="product.image" height="50" alt="" />
                              <span class="item-info">
                                  <span>{{product.name}}</span>
                                  <span>{{product.price}}$</span>
                              </span>
                          </span>
                          <span class="item-right">
                              <button class="btn btn-xs btn-danger pull-right" (click)="removeFromCart(product)">x</button>
                          </span>
                      </span>
                    </li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>